min-release-age=7
# Allow all because Electron Forge installs dependencies via git, see packages/desktop/docs/technical-debt.md for info
allow-git=all
allow-scripts=electron,electron-winstaller,esbuild
