@import "tailwindcss";
@import "tw-animate-css";
@import "./jigsaw.css";

@plugin "@tailwindcss/typography";

/**
Custom variants for efficiently composing shared styles between hover and focus states.
 */
@custom-variant hocus {
	&:hover, &:focus {
		@slot;
	}
}
@custom-variant hocus-within {
	&:hover, &:focus-within {
		@slot;
	}
}
@custom-variant focusw {
	&:focus, &:focus-within {
		@slot;
	}
}

@custom-variant light (&:is(.light *));

/**
todo: replace variable fonts with predefined weights/styles once known to reduce bundle size.
 */
@font-face {
	font-family: 'Open Sans';
	font-stretch: 100%;
	font-style: normal;
	font-weight: 100 900;
	src: url('/fonts/noto-sans/noto-sans-variable.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-stretch: 100%;
	font-style: italic;
	font-weight: 100 900;
	src: url('./fonts/noto-sans/noto-sans-italic-variable.ttf') format('truetype');
}


