@theme {
	--color-theme-titlebar-bg: var(--color-navy-20);
	--color-theme-titlebar-text: var(--color-navy-white-60);

	--color-theme-base-bg: var(--color-navy-30);
	--color-theme-base-text: var(--color-navy-white-50);

	--color-theme-panel-bg: var(--color-navy-40);
	--color-theme-panel-text: var(--color-navy-white-50);
}