/**
Base Variables
 */
:root {
	--j-space-1: 2px;
	--j-space-2: 4px;
	--j-space-3: 6px;
	--j-space-4: 8px;
	--j-space-5: 10px;
	--j-space-6: 12px;
	--j-space-7: 14px;
	--j-space-8: 16px;
	--j-space-12: 24px;
	--j-space-14: 28px;
	--j-space-16: 32px;
	--j-space-18: 36px;
	--j-space-24: 48px;
	--j-space-32: 64px;
	--j-space-48: 96px;
	--j-space-64: 128px;

	--j-border-radius-sm: 4px;
	--j-border-radius-md: 6px;
	--j-border-radius-lg: 8px;
	--j-border-radius-xl: 10px;

	--j-border-width-sm: 1px;
	--j-border-width-md: 2px;
	--j-border-width-lg: 4px;
	--j-border-width-xl: 8px;

	--j-text-size-xs: 12px;
	--j-text-size-sm: 14px;
	--j-text-size-rg: 16px;
	--j-text-size-md: 18px;
	--j-text-size-lg: 20px;
	--j-text-size-xl: 24px;
	--j-text-size-2xl: 30px;
	--j-text-size-3xl: 36px;
	--j-text-size-4xl: 48px;

	--j-text-weight-normal: 400;
	--j-text-weight-medium: 500;
	--j-text-weight-bold: 700;

	--j-text-font-primary: "Open Sans", sans-serif;
	--j-text-font-monospace: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;

	--j-text-letter-spacing: 0px;

	--j-shadow-sm: 0 1px 3px hsla(0, 0%, 0%, 0.2);
	--j-shadow-md: 0 4px 6px hsla(0, 0%, 0%, 0.2);
	--j-shadow-lg: 0 5px 15px hsla(0, 0%, 0%, 0.2);
	--j-shadow-xl: 0 10px 25px hsla(0, 0%, 0%, 0.2);

	--j-z-layer-1: 20;
	--j-z-layer-2: 40;
	--j-z-layer-3: 60;
	--j-z-layer-4: 80;
	--j-z-layer-5: 100;

	--j-motion-ease-in: cubic-bezier(0.4, 0, 0.7, 0.2);
	--j-motion-ease-out: cubic-bezier(0, 0, 0.2, 1);
	--j-motion-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
	--j-motion-linear: linear;

	--j-motion-duration-fast: 0.15s;
	--j-motion-duration-medium: 0.3s;
	--j-motion-duration-slow: 0.6s;

	--colour-teal-200: #259f94;
	--colour-teal-300: #0d9488;
	--colour-teal-400: #0c857a;
	--colour-teal-500: #0a766d;
	--colour-teal-600: #09685f;
	--colour-teal-700: #07564f;

	--colour-navy-50: #3D4053;
	--colour-navy-100: #383B4C;
	--colour-navy-200: #333545;
	--colour-navy-300: #2D303E;
	--colour-navy-400: #282A37;
	--colour-navy-500: #232530;
	--colour-navy-600: #20222C;
	--colour-navy-700: #1D1F28;
	--colour-navy-800: #191B23;
	--colour-navy-900: #121419;

	--colour-atom-50: #3D4053;
	--colour-atom-100: #383B4C;
	--colour-atom-200: #333545;
	--colour-atom-300: #2D303E;
	--colour-atom-400: #282A37;
	--colour-atom-500: #232530;
	--colour-atom-600: #20222C;
	--colour-atom-700: #1D1F28;
	--colour-atom-800: #191B23;
	--colour-atom-900: #121419;

	--colour-blueGrey-50: #9CA7B8;
	--colour-blueGrey-100: #919CAD;
	--colour-blueGrey-200: #8690A1;
	--colour-blueGrey-300: #7A8596;
	--colour-blueGrey-400: #6F7A8A;
	--colour-blueGrey-500: #646E7F;
	--colour-blueGrey-600: #596373;
	--colour-blueGrey-700: #4D5868;
	--colour-blueGrey-800: #424C5C;
	--colour-blueGrey-900: #374151;

	--colour-mono-50: #fff;
	--colour-mono-100: #eee;
	--colour-mono-200: #ccc;
	--colour-mono-300: #aaa;
	--colour-mono-400: #666;
	--colour-mono-500: #444;
	--colour-mono-600: #333;
	--colour-mono-700: #222;
	--colour-mono-800: #1a1a1a;
	--colour-mono-900: #111;

	--colour-red-200: #e55c5c;
	--colour-red-300: #e24747;
	--colour-red-400: #df3333;
	--colour-red-500: #c92e2e;
	--colour-red-600: #b22929;
	--colour-red-700: #a22525;

	--colour-green-200: #649d71;
	--colour-green-300: #50915f;
	--colour-green-400: #3d854d;
	--colour-green-500: #377845;
	--colour-green-600: #316a3e;
	--colour-green-700: #2b5d36;

	--colour-orange-200: #e79155;
	--colour-orange-300: #e48440;
	--colour-orange-400: #e1762b;
	--colour-orange-500: #cb6a27;
	--colour-orange-600: #b45e22;
	--colour-orange-700: #a4551f;

	--colour-yellow-200: #fccc50;
	--colour-yellow-300: #fbc53a;
	--colour-yellow-400: #fbbf24;
	--colour-yellow-500: #e2ac20;
	--colour-yellow-600: #c9991d;
	--colour-yellow-700: #b88c1b;

	--colour-blue-200: #4998c0;
	--colour-blue-300: #328bb8;
	--colour-blue-400: #1b7eb0;
	--colour-blue-500: #18719e;
	--colour-blue-600: #16658d;
	--colour-blue-700: #13597c;

	--colour-purple-200: #9d7ee5;
	--colour-purple-300: #916ee1;
	--colour-purple-400: #855ede;
	--colour-purple-500: #7855c8;
	--colour-purple-600: #6a4bb2;
	--colour-purple-700: #6245a4;

	--colour-pink-200: #d85797;
	--colour-pink-300: #d3428a;
	--colour-pink-400: #ce2d7d;
	--colour-pink-500: #b92971;
	--colour-pink-600: #a52464;
	--colour-pink-700: #95205a;
}
