@import "tailwindcss";

#root {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

html,
body {
	font-family: var(--text-font-primary);
	letter-spacing: var(--text-letter-spacing);
	font-size: var(--text-size-rg);
}
